<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.chenzw.springboot.mybatis.xml.repository.JavaTypesMapper">

    <resultMap id="javaTypesEntity" type="cn.chenzw.springboot.mybatis.xml.domain.entity.JavaTypesEntity">
        <result column="bigdecimal_type" property="bigDecimalType"/>
    </resultMap>

    <select id="listAll" resultMap="javaTypesEntity">
        select *
        from java_types_entity
    </select>

    <!--<insert id="insertBatch">
        insert into java_types_entity (
        byte_type,
        short_type,
        character_type,
        float_type,
        integer_type,
        long_type,
        double_type,
        bytes_type,
        bigdecimal_type,
        boolean_type,
        date_type)
        <foreach collection="javaTypesEntities" item="typeEntity" separator="union">
            SELECT
            #{typeEntity.byteType} as byte_type,
            #{typeEntity.shortType} as short_type,
            #{typeEntity.characterType} as character_type,
            #{typeEntity.integerType} as integer_type,
            #{typeEntity.floatType} as float_type,
            #{typeEntity.longType} as long_type,
            #{typeEntity.doubleType} as double_type,
            #{typeEntity.byteType} as bytes_type,
            #{typeEntity.bigDecimalType} as bigdecimal_type,
            #{typeEntity.booleanType} as boolean_type,
            #{typeEntity.dateType} as date_type
            FROM dual
        </foreach>
    </insert>-->

    <insert id="insertBatch">
        <if test="javaTypesEntities != null and javaTypesEntities.size() > 0">
            insert into java_types_entity (
            byte_type,
            short_type,
            character_type,
            float_type,
            integer_type,
            long_type,
            double_type,
            bytes_type,
            bigdecimal_type,
            boolean_type,
            date_type) VALUES
            <foreach collection="javaTypesEntities" item="typeEntity" separator=",">
                (
                #{typeEntity.byteType},
                #{typeEntity.shortType},
                #{typeEntity.characterType},
                #{typeEntity.integerType},
                #{typeEntity.floatType},
                #{typeEntity.longType},
                #{typeEntity.doubleType},
                #{typeEntity.byteType},
                #{typeEntity.bigDecimalType},
                #{typeEntity.booleanType},
                #{typeEntity.dateType}
                )
            </foreach>
        </if>
    </insert>

    <insert id="insertBatch2">
        <if test="javaTypesEntities != null and javaTypesEntities.length > 0">
            insert into java_types_entity (
            byte_type,
            short_type,
            character_type,
            float_type,
            integer_type,
            long_type,
            double_type,
            bytes_type,
            bigdecimal_type,
            boolean_type,
            date_type) VALUES
            <foreach collection="javaTypesEntities" item="typeEntity" separator=",">
                (
                #{typeEntity.byteType},
                #{typeEntity.shortType},
                #{typeEntity.characterType},
                #{typeEntity.integerType},
                #{typeEntity.floatType},
                #{typeEntity.longType},
                #{typeEntity.doubleType},
                #{typeEntity.byteType},
                #{typeEntity.bigDecimalType},
                #{typeEntity.booleanType},
                #{typeEntity.dateType}
                )
            </foreach>
        </if>
    </insert>
</mapper>
