<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.chenzw.springboot.shiro.repository.SysUserMapper">


    <resultMap id="sysUserRolesAndPermissionsMap"
               type="cn.chenzw.springboot.shiro.domain.dto.output.SysUserRolesAndPermissionsDto" autoMapping="true">
        <id property="id" column="user_id"/>
        <collection property="sysRoles" ofType="cn.chenzw.springboot.shiro.domain.dto.output.SysRolesDto">
            <id property="id" column="role_id"/>
            <result property="name" column="role_name"/>
            <result property="available" column="role_available"/>
            <collection property="sysPermissions"
                        ofType="cn.chenzw.springboot.shiro.domain.entity.SysPermission">
                <id property="id" column="permission_id"/>
                <result property="name" column="permission_name"/>
                <result property="sortId" column="permission_sort"/>
                <result property="available" column="permission_available"/>
            </collection>
        </collection>
    </resultMap>

    <select id="findUserRolesAndPermissions"
            resultMap="sysUserRolesAndPermissionsMap">
        SELECT
        su.id AS `user_id`,
        su.username,
        su.NAME,
        su.PASSWORD,
        su.state,
        sr.id AS `role_id`,
        sr.NAME AS `role_name`,
        sr.available AS `role_available`,
        sp.id AS `permission_id`,
        sp.NAME AS `permission_name`,
        sp.type,
        sp.url,
        sp.permission,
        sp.parent_id,
        sp.parent_ids,
        sp.sort_id AS `permission_sort`,
        sp.available AS `permission_available`
        FROM
        sys_user su
        LEFT JOIN sys_user_role sur ON ( su.id = sur.sys_user_id )
        LEFT JOIN sys_role sr ON ( sur.sys_role_id = sr.id )
        LEFT JOIN sys_role_permission srp ON ( sur.sys_role_id = srp.sys_role_id )
        LEFT JOIN sys_permission sp ON ( srp.sys_permission_id = sp.id )
        <where>
            <if test="username != null and username != ''">
                username = #{username}
            </if>
        </where>
    </select>

</mapper>